<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duan1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:theme="@style/AppTheme1" android:label="Danh Sách Khoản Chi" android:parentActivityName=".MainActivity" android:name=".ListKhoanChiActivity"></activity>
        <activity android:theme="@style/AppTheme1" android:label="Danh Sách Khoản Thu" android:parentActivityName=".MainActivity" android:name=".ListKhoanThuActivity" />
        <activity android:theme="@style/AppTheme1" android:label="Danh Sách Loại Thu" android:parentActivityName=".MainActivity" android:name=".ListLoaiThuActivity" />
        <activity android:theme="@style/AppTheme1" android:label="Danh Sách Loại Chi" android:parentActivityName=".MainActivity" android:name=".ListLoaiChiActivity" />
        <activity android:theme="@style/AppTheme1" android:label="Thống Kê" android:parentActivityName=".MainActivity" android:name=".ThongKeActivity" />
        <activity android:theme="@style/AppTheme1" android:label="Giới Thiệu" android:parentActivityName=".MainActivity" android:name=".GioiThieuActivity" />
        <activity android:theme="@style/AppTheme1" android:label="Loại Chi" android:parentActivityName=".ListLoaiChiActivity" android:name=".LoaiChiActivity" />
        <activity android:theme="@style/AppTheme1" android:label="Khoản Chi" android:parentActivityName=".ListKhoanChiActivity" android:name=".KhoanChiActivity" />
        <activity android:theme="@style/AppTheme1" android:label="Loại Thu" android:parentActivityName=".ListLoaiThuActivity" android:name=".LoaiThuActivity" />
        <activity android:theme="@style/AppTheme1" android:label="Khoản Thu" android:parentActivityName=".ListKhoanThuActivity" android:name=".KhoanThuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>