<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duan1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MoneyLimitActivity"></activity>
        <activity
            android:name=".ListKhoanChiActivity"
            android:label="Danh Sách Khoản Chi"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ListKhoanThuActivity"
            android:label="Danh Sách Khoản Thu"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ListLoaiThuActivity"
            android:label="Danh Sách Loại Thu"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ListLoaiChiActivity"
            android:label="Danh Sách Loại Chi"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ThongKeActivity"
            android:label="Thống Kê"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".GioiThieuActivity"
            android:label="Giới Thiệu"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".LoaiChiActivity"
            android:label="Loại Chi"
            android:parentActivityName=".ListLoaiChiActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".KhoanChiActivity"
            android:label="Khoản Chi"
            android:parentActivityName=".ListKhoanChiActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".LoaiThuActivity"
            android:label="Loại Thu"
            android:parentActivityName=".ListLoaiThuActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".KhoanThuActivity"
            android:label="Khoản Thu"
            android:parentActivityName=".ListKhoanThuActivity"
            android:theme="@style/AppTheme1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>